@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 330px;

  @media (min-width: $sm) {
    width: 560px;
  }

  @media (min-width: $md) {
    width: 600px;
  }

  @media (min-width: $xl) {
    width: 800px;
  }
}

.skill {
  width: 70px;
  height: 70px;
  margin: 10px 20px;
  transform: rotate(45deg);
  outline: 1px solid $secondaryColor;
  background-color: $backgroundColor;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (min-width: $md) {
    width: 80px;
    height: 80px;
  }
}

.icon {
  transform: rotate(-45deg);
  height: 45px;
}

@media (max-width: $sm) {
  .skill:nth-child(5n + 4) {
    margin-right: 20px;
  }

  .skill:nth-child(5n + 5) {
    margin-left: 30px;
  }

  .skill:last-child {
    margin-right: 20px;
    margin-top: 40px;
  }
}

@media (min-width: $sm) {
  .skill:nth-child(n + 6):nth-child(-n + 9) {
    margin-left: 23px;
  }

  .skill:nth-child(n + 10) {
    margin-left: 20px;
  }
}

@media (min-width: $xl) {
  .container {
    position: relative;
    height: 500px;
  }

  .skill {
    margin: 0px;
  }

  .skill:nth-child(n + 6):nth-child(-n + 9) {
    margin-left: 0px;
  }

  .skill:nth-child(n + 10) {
    margin-left: 0px;
  }

  .skill:nth-child(1) {
    position: absolute;
    top: 0px;
  }

  .skill:nth-child(2) {
    position: absolute;
    top: 40px;
    right: 30px;
  }

  .skill:nth-child(3) {
    position: absolute;
    top: 40px;
    right: 150px;
  }

  .skill:nth-child(4) {
    position: absolute;
    top: 40px;
    left: 30px;
  }

  .skill:nth-child(5) {
    position: absolute;
    top: 40px;
    left: 150px;
  }

  .skill:nth-child(6) {
    position: absolute;
    top: 130px;
  }

  .skill:nth-child(7) {
    position: absolute;
    top: 120px;
    right: 88px;
  }

  .skill:nth-child(8) {
    position: absolute;
    top: 120px;
    left: 88px;
  }

  .skill:nth-child(9) {
    position: absolute;
    top: 120px;
    right: 215px;
  }

  .skill:nth-child(10) {
    position: absolute;
    top: 120px;
    left: 215px;
  }

  .skill:nth-child(11) {
    position: absolute;
    top: 195px;
    left: 280px;
  }

  .skill:nth-child(12) {
    position: absolute;
    top: 195px;
    right: 280px;
  }

  .skill:nth-child(13) {
    position: absolute;
    top: 260px;
  }

  .skill:nth-child(14) {
    position: absolute;
    top: 390px;
  }
}
