@import "../../styles/variables.scss";

.downloadCv {
  @include montserrat;
  background-color: $primaryColor;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;

  img {
    width: 20px;
  }
}
