@import "../../../styles/variables.scss";

.projects {
  color: white;
  height: fit-content;
  max-width: 90%;
  margin: 0 auto 5em auto;
  overflow: hidden;
  max-width: 1240px;

  h2 {
    margin-top: 3em;
    @include h2;
  }

  &__container {
    .slick-prev {
      left: 0;
      z-index: 1;

      &::before {
        color: $secondaryColor;
      }
    }

    .slick-next {
      right: 0;
      z-index: 1;

      &::before {
        color: $secondaryColor;
      }
    }
  }
}
