// Colors

$primaryColor: #82dff6;
$secondaryColor: #f784f5;
$tertiaryColor: #fff;
$backgroundColor: #0f0823;

@mixin linearGradientRight {
  background: #f784f5;
  background: linear-gradient(to right, #f784f5 0%, #82dff6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin inconsolata {
  font-family: "Inconsolata", monospace;
}

@mixin h2 {
  @include inconsolata;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
  font-size: 1.5em;

  &::before {
    content: ">_";
    margin-right: 10px;
  }
}

// Responsive Design

$xxs: 240px;
$xs: 360px;
$sm: 620px;
$md: 768px;
$lg: 900px;
$xl: 1024px;
$xxl: 1200px;
$xxxl: 1440px;

// Typography
