@import "../../../styles/variables.scss";

.aboutMe {
  color: white;
  height: fit-content;
  max-width: 90%;
  margin: 0 auto;

  h2 {
    @include h2;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    @media (min-width: $sm) {
      gap: 30px;
    }

    @media (min-width: $md) {
      margin: 0 auto;
      max-width: 650px;
    }

    @media (min-width: $lg) {
      gap: 80px;
      max-width: 800px;
    }
  }
}
